<!doctype html>
<html>

<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <title>SIMIAN</title>
  <link rel="preconnect" href="https://fonts.gstatic.com" />
  <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=DM+Sans:wght@400;700&amp;display=swap" />
  <link rel="stylesheet" href="css/style.css" />
</head>

<body>
  <div id="app">
    <div class="screen" v-cloak :class="{max: max}">
      <os-window :win="windows[0]" :active="active" :max="max" @focus-window="focusWindow" @max-window="maxWindow">
        <div class="text">
          {{ cmdText }}
          <div class="input-wrapper">
            <label>> </label><input v-model="cmd" @keyup="bottom($event.target)" @keyup.enter="submitCmd"
              spellcheck="false" />
          </div>
        </div>
      </os-window><os-window :win="windows[1]" :active="active" :max="max" @focus-window="focusWindow"
        @max-window="maxWindow">
        <div class="text flex" @dragenter.prevent="" @dragover.prevent="" @drop.prevent="drop">
          <div><button @click="preUpload">UPLOAD DATA</button></div>
          <input type="file" @change="upload" /><textarea v-model="dataText" placeholder="Type text..."></textarea>
          <div align="right">
            <button @click="submitDataText">GIVE AS TEXT</button><span class="spacer"></span><button
              @click="submitDataDialogue">GIVE AS DIALOGUE</button>
          </div>
        </div>
      </os-window><os-window :win="windows[2]" :active="active" :max="max" @focus-window="focusWindow"
        @max-window="maxWindow">
        <div class="text">{{ chatText }}</div>
        <div class="input-wrapper-chat">
          <input v-model="msg" @keyup.enter="submitChat"
            :placeholder='responding ? "SIM is thinking..." : "Type a message..."' :disabled="responding" />
        </div>
      </os-window><os-window :win="windows[3]" :active="active" :max="max" @focus-window="focusWindow"
        @max-window="maxWindow">
        <div class="graph"></div>
      </os-window>
    </div>
  </div>
  <script src="https://unpkg.com/vue@3.4.35"></script>
  <script src="https://unpkg.com/string-similarity/umd/string-similarity.min.js"></script>
  <script src="bower_components/cytoscape/dist/cytoscape.min.js"></script>
  <script src="bower_components/layout-base/layout-base.js"></script>
  <script src="bower_components/cose-base/cose-base.js"></script>
  <script src="bower_components/cytoscape-cose-bilkent/cytoscape-cose-bilkent.js"></script>
  <script src="https://unpkg.com/dexie@latest/dist/dexie.js"></script>
  <script type="module" src="js/main.js"></script>
</body>

</html>
