doctype html
html
  head

    meta(charset='utf-8')
    meta(name='viewport' content='width=device-width, initial-scale=1')

    title SIMIAN

    link(rel='preconnect' href='https://fonts.gstatic.com')
    link(rel='stylesheet' href='https://fonts.googleapis.com/css2?family=DM+Sans:wght@400;700&display=swap')
    link(rel='stylesheet' href='css/style.css')

  body
    #app
      .screen(v-cloak :class='{max: max}')

        os-window(:win='windows[0]' :active='active' :max='max' @focus-window='focusWindow' @max-window='maxWindow')
          .text {{ cmdText }}
            .input-wrapper
              label > 
              input(v-model='cmd' @keyup='bottom($event.target)' @keyup.enter='submitCmd' spellcheck='false')

        os-window(:win='windows[1]' :active='active' :max='max' @focus-window='focusWindow' @max-window='maxWindow')
          .text.flex(@dragenter.prevent='' @dragover.prevent='' @drop.prevent='drop')
            div
              button(@click='preUpload') UPLOAD DATA
            input(type='file' @change='upload')
            textarea(v-model='dataText' placeholder='Type text...')
            div(align='right')
              button(@click='submitDataText') GIVE AS TEXT
              span.spacer
              button(@click='submitDataDialogue') GIVE AS DIALOGUE

        os-window(:win='windows[2]' :active='active' :max='max' @focus-window='focusWindow' @max-window='maxWindow')
          .text {{ chatText }}
          .input-wrapper-chat
            input(v-model='msg' @keyup.enter='submitChat' :placeholder='responding ? "SIM is thinking..." : "Type a message..."' :disabled='responding')

        os-window(:win='windows[3]' :active='active' :max='max' @focus-window='focusWindow' @max-window='maxWindow')
          .graph

    script(src='https://unpkg.com/vue@3.4.35')
    script(src='https://unpkg.com/string-similarity/umd/string-similarity.min.js')
    script(src='bower_components/cytoscape/dist/cytoscape.min.js')
    script(src='bower_components/layout-base/layout-base.js')
    script(src='bower_components/cose-base/cose-base.js')
    script(src='bower_components/cytoscape-cose-bilkent/cytoscape-cose-bilkent.js')
    script(src='https://unpkg.com/dexie@latest/dist/dexie.js')
    script(type='module' src='js/main.js')
